<%= javascript_tag :defer => 'defer' do -%>
	$('#current_branch').html('<%= user_session['current_branch'].name %>');
<% end -%>

  <div class='notice'>
    You are a staff of <b><%= Branch.branch_name_from_subdomain(current_user.subdomain) %>.</b>
    If this is not correct, call tech support.
    <br/>
    You are currently logged into <%= user_session['current_branch'].name %>.
    <% if  @associate_branches.length > 1 -%>
      <hr/>
      Click on any of the following branches to change your current branch.
      <br/>
      <ol>
      <% @associate_branches.each do |b| -%>
        <li><%= link_to b.name, dashboard_path(:current_branch => b.id), :confirm => "Are you sure you want to change the branch to #{b.name}?" %></li>
      <% end -%>
      </ol>
    <% end -%>
  </div>

  <% if current_user.frontoffice? -%>
    <div class='alert'>
      You logged in with <%= current_user.email %>, instead use the id that was created for you.
    </div>
  <% end -%>

  <div class='span-24' style='height:10px'></div>

  <div style="width: 20%; float: left; border: 1px solid #cecece; text-align: center;">
    <div>
      <%= link_to 'Office Management', 'offices' %>
    </div>
    <br/>

    <div>
      <%= link_to 'Legal Entities', 'legalentities' %>
    </div>
    <br/>

    <div>
      <%= link_to 'Market Entities', 'marketentities' %>
    </div>
    <br/>

    <div>
      <%= link_to 'Business Units', 'businessunits' %>
    </div>
  </div>

  <div style="width: 20%; float: left; border: 1px solid #cecece; text-align: center; margin-left: 10px;">
    <div>
      <%= link_to 'Manage Franchisee', 'franchisees' %>
    </div>
    <br/>

    <div>
      <%= link_to 'Geography', 'geographies' %>
    </div>
    <br/>

    <div>
      <%= link_to 'Cluster', 'clusters' %>
    </div>
    <br/>

    <div>
      <%= link_to 'Stores', 'stores' %>
    </div>
  </div>

  <div style="width: 20%; float: left; border: 1px solid #cecece; text-align: center; margin-left: 10px;">
    <div>
      <%= link_to 'Manage Ledger', 'ledgers' %>
    </div>
    <br/>

    <div>
      <%= link_to 'Sub Ledgers', 'subledgers' %>
    </div>
    <br/>

    <div>
      <%= link_to 'Budgets', 'budgets' %>
    </div>
    <br/>

    <div>
      <%= link_to 'Budget Items', 'budgetitems' %>
    </div>
  </div>

  <div style="width: 20%; float: left; border: 1px solid #cecece; text-align: center; margin-left: 10px;">
    <div>
      <%= link_to 'Manage Supplier', 'suppliers' %>
    </div>
    <br/>

    <div>
      <%= link_to 'Supplier Contracts', 'suppliercontracts' %>
    </div>
  </div>