<div class="activity_links">
  <%= link_to 'Back to Dashboard', dashboard_path %>
</div>
<br/>

<h3>Listing Budget Items</h3>

<table>
  <tr>
    <th>Budget</th>
    <th>Subledger</th>
    <th>Budgeted pct</th>
    <th>Budgeted amt</th>
    <th>Committed amt</th>
    <th>Billed amt</th>
    <th>Paid amt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @budgetitems.each do |budgetitem| %>
  <tr>
    <td><%= budgetitem.budget_id %></td>
    <td><%= budgetitem.subledger_id %></td>
    <td><%= budgetitem.budgeted_pct %></td>
    <td><%= budgetitem.budgeted_amt %></td>
    <td><%= budgetitem.committed_amt %></td>
    <td><%= budgetitem.billed_amt %></td>
    <td><%= budgetitem.paid_amt %></td>
    <td><%= link_to 'Show', budgetitem %></td>
    <td><%= link_to 'Edit', edit_budgetitem_path(budgetitem) %></td>
    <td><%= link_to 'Destroy', budgetitem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Budgetitem', new_budgetitem_path %>
