<h1>Listing clusters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Geography</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clusters.each do |cluster| %>
  <tr>
    <td><%= cluster.name %></td>
    <td><%= cluster.geography_id %></td>
    <td><%= link_to 'Show', cluster %></td>
    <td><%= link_to 'Edit', edit_cluster_path(cluster) %></td>
    <td><%= link_to 'Destroy', cluster, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cluster', new_cluster_path %>
