<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @franchisee.name %>
</p>

<p>
  <b>Owner:</b>
  <%= @franchisee.owner %>
</p>

<p>
  <b>Tin:</b>
  <%= @franchisee.tin %>
</p>

<p>
  <b>Street1:</b>
  <%= @franchisee.street1 %>
</p>

<p>
  <b>Street2:</b>
  <%= @franchisee.street2 %>
</p>

<p>
  <b>Pincode:</b>
  <%= @franchisee.pincode %>
</p>

<p>
  <b>City:</b>
  <%= @franchisee.city %>
</p>

<p>
  <b>State:</b>
  <%= @franchisee.state %>
</p>

<p>
  <b>Country:</b>
  <%= @franchisee.country %>
</p>

<p>
  <b>Landline:</b>
  <%= @franchisee.landline %>
</p>

<p>
  <b>Mobile:</b>
  <%= @franchisee.mobile %>
</p>

<p>
  <b>Facsimile:</b>
  <%= @franchisee.facsimile %>
</p>

<p>
  <b>Email:</b>
  <%= @franchisee.email %>
</p>


<%= link_to 'Edit', edit_franchisee_path(@franchisee) %> |
<%= link_to 'Back', franchisees_path %>
