<%= form_for(@ledger) do |f| %>
  <% if @ledger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ledger.errors.count, "error") %> prohibited this ledger from being saved:</h2>

      <ul>
      <% @ledger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :created_at, :value => Time.zone.today %>
  <%= f.hidden_field :updated_at, :value => Time.zone.today %>
  <%= f.hidden_field :created_by, :value => current_user.id.to_s %>
  <%= f.hidden_field :modified_by, :value => current_user.id.to_s %>

  <div class="field">
    <%= f.label :category %><br/>
    <span class="span-3"><%= f.radio_button "category", Ledger::CATEGORY[:asset], {:checked => true} %>  Asset</span>
    <span class="span-3"><%= f.radio_button "category",  Ledger::CATEGORY[:liability] %>  Liability</span>
    <span class="span-3"><%= f.radio_button "category",  Ledger::CATEGORY[:income] %>  Income</span>
    <span class="span-3"><%= f.radio_button "category",  Ledger::CATEGORY[:expense] %>  Expense</span>
  </div>
  <br/><br/>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
