<div class="activity_links">
  <%= link_to 'Back to Dashboard', dashboard_path %>
</div>
<br/>

<h3>Listing Sub Ledgers</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Ledger</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subledgers.each do |subledger| %>
  <tr>
    <td><%= subledger.name %></td>
    <td><%= subledger.code %></td>
    <td><%= subledger.ledger_id %></td>
    <td><%= link_to 'Show', subledger %></td>
    <td><%= link_to 'Edit', edit_subledger_path(subledger) %></td>
    <td><%= link_to 'Destroy', subledger, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subledger', new_subledger_path %>
