<h1>Listing businessunits</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Marketentity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @businessunits.each do |businessunit| %>
  <tr>
    <td><%= businessunit.name %></td>
    <td><%= businessunit.marketentity_id %></td>
    <td><%= link_to 'Show', businessunit %></td>
    <td><%= link_to 'Edit', edit_businessunit_path(businessunit) %></td>
    <td><%= link_to 'Destroy', businessunit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Businessunit', new_businessunit_path %>
