<h1>Listing suppliercontracts</h1>

<table>
  <tr>
    <th>Supplier</th>
    <th>Effective date</th>
    <th>Discount</th>
    <th>Creditperiod</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suppliercontracts.each do |suppliercontract| %>
  <tr>
    <td><%= suppliercontract.supplier_id %></td>
    <td><%= suppliercontract.effective_date %></td>
    <td><%= suppliercontract.discount %></td>
    <td><%= suppliercontract.creditperiod %></td>
    <td><%= link_to 'Show', suppliercontract %></td>
    <td><%= link_to 'Edit', edit_suppliercontract_path(suppliercontract) %></td>
    <td><%= link_to 'Destroy', suppliercontract, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Suppliercontract', new_suppliercontract_path %>
