<h1>Listing geographies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @geographies.each do |geography| %>
  <tr>
    <td><%= geography.name %></td>
    <td><%= geography.category %></td>
    <td><%= link_to 'Show', geography %></td>
    <td><%= link_to 'Edit', edit_geography_path(geography) %></td>
    <td><%= link_to 'Destroy', geography, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Geography', new_geography_path %>
