<h1>Listing marketentities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Legalentity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @marketentities.each do |marketentity| %>
  <tr>
    <td><%= marketentity.name %></td>
    <td><%= marketentity.legalentity_id %></td>
    <td><%= link_to 'Show', marketentity %></td>
    <td><%= link_to 'Edit', edit_marketentity_path(marketentity) %></td>
    <td><%= link_to 'Destroy', marketentity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Marketentity', new_marketentity_path %>
