<div class="activity_links">
  <%= link_to 'Back to Dashboard', dashboard_path %>
</div>
<br/>

<h3>Listing Suppliers</h3>

<div class="activity_links" style="float: right">
  <%= link_to 'Add New Supplier?', new_supplier_path %>
</div>
<br/><hr/>

<% @suppliers.each do |supplier| %>
<div>
    <span class='span-2'><b>Name</b></span><%= supplier.name %>
    <br/>
    <span class='span-2'><b>Contact(s)</b></span>
    <%= supplier.contact1 %>, <%= supplier.contact2 %>
    <br/>
    
    <span class='span-2'><b>Location</b></span>
    <%= supplier.street1 %>, 
    <%= supplier.street2 %>,     
    <%= supplier.city %>, 
    <%= supplier.state %>, 
    <%= supplier.country %> - 
    <%= supplier.pincode %>
    <br/>
    
    <span class='span-2'><b>Phone</b></span>
    (L) : <%= supplier.landline %>, (M) : <%= supplier.mobile %>
    <br/>
    
    <span class='span-2'><b>Facsimile</b></span><%= supplier.facsimile %>
    <br/>
    
    <span class='span-2'><b>Email</b></span><%= supplier.email %>
    <br/><br/>

    <div id="suppliers_det_remove" class="activity_links" style="float: right; padding-left: 5px">
      <%= link_to 'Hide Details', '', :id => 'suppliers_det_remove_link_' + supplier.id.to_s,
        :supplier_id => supplier.id, :disabled => 'disabled' %>
    </div>

    <div id="suppliers_det" class="activity_links" style="float: right; padding-left: 5px">
      <%= link_to 'Show Details', '', :id => 'suppliers_det_link_' + supplier.id.to_s,
        :supplier_id => supplier.id %>
    </div>

    <br/>
    <div id='<%= "suppliers_det_div_#{supplier.id}" %>' style="display: none;">
      <%= render :partial => 'suppliercontracts/suppliercontract_details',
        :locals => { :suppliercontract => Suppliercontract.find_all_by_supplier_id(supplier.id) },
        :layout => false %>
    </div>
    <hr/>

</div>
    
<% end %>