<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @supplier.name %>
</p>

<p>
  <b>Contact1:</b>
  <%= @supplier.contact1 %>
</p>

<p>
  <b>Contact2:</b>
  <%= @supplier.contact2 %>
</p>

<p>
  <b>Street1:</b>
  <%= @supplier.street1 %>
</p>

<p>
  <b>Street2:</b>
  <%= @supplier.street2 %>
</p>

<p>
  <b>Pincode:</b>
  <%= @supplier.pincode %>
</p>

<p>
  <b>City:</b>
  <%= @supplier.city %>
</p>

<p>
  <b>State:</b>
  <%= @supplier.state %>
</p>

<p>
  <b>Country:</b>
  <%= @supplier.country %>
</p>

<p>
  <b>Landline:</b>
  <%= @supplier.landline %>
</p>

<p>
  <b>Mobile:</b>
  <%= @supplier.mobile %>
</p>

<p>
  <b>Facsimile:</b>
  <%= @supplier.facsimile %>
</p>

<p>
  <b>Email:</b>
  <%= @supplier.email %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
