<%= form_for(@legalentity) do |f| %>
  <% if @legalentity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@legalentity.errors.count, "error") %> prohibited this legalentity from being saved:</h2>

      <ul>
      <% @legalentity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :created_at, :value => Time.zone.today %>
  <%= f.hidden_field :updated_at, :value => Time.zone.today %>
  <%= f.hidden_field :created_by, :value => current_user.id.to_s %>
  <%= f.hidden_field :modified_by, :value => current_user.id.to_s %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tin %><br />
    <%= f.text_field :tin %>
  </div>
  <div class="field">
    <%= f.label :office_id %><br />
    <%= f.collection_select(:office_id, Office.all, :id, :name, {:include_blank => 'Select Office'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
